@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;

}

img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-color: #222;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.logo{
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

nav {
    display: flex;
    gap: 45px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.cart{
    position: relative;
}

nav p{
    position: absolute;
    top: -8px;
    left: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Lato, serif;
    font-size: 12px;
    font-weight: 400;
    width: 19px;
    height: 19px;
    border-radius: 10px;
    background-color: #F16D7F;
}


.main_content{
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-bottom: 60px;
}

.title_main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


.title_main_text h1{
    color: #222;
    font-family: Lato, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.title_main_text h2{
    color: #222;
    font-family: Lato, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.color_text{
    color: #F16D7F;
    font-family: Lato, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.offer{
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    gap: 30px;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.woman{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 360px;
    font-size: 16px;
    line-height: 1.2;
    color: white;
    background-image: url("./img/offer_women.svg");
    background-color: rgba(33, 22, 22, 0.70);
}

.man{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 360px;
    background-image: url("./img/offer_men.svg");
    font-size: 16px;
    line-height: 1.2;
    color: white;
}

.kids{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 360px;
    background-image: url("./img/offer_kids.svg");
    font-size: 16px;
    line-height: 1.2;
    color: white;
}

.accesories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 1140px;
    background-image: url("./img/offer_accesories.svg");
    font-size: 16px;
    line-height: 1.2;
    color: white;
    grid-column: 1/4;
}

.offer h3{
    color: #F16D7F;
    font-family: Lato, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text_items{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 6px;

}

.title_items{
    color: #222;
    font-family: Lato, serif;
    font-size: 30px;
}

.p_items{
    color: #9F9F9F;
    font-family: Lato, serif;
    font-size: 14px;
    margin-bottom: 50px;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 48px;
}

.item{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F8F8F8;
}

.item img{
    margin-bottom: 25px;
    position: relative;
}

.item:hover .hidden{
    display: block;

}

.hidden{
    position: absolute;
    display: none;
}

.add__cart{
    position: absolute;
    width: 360px;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.86);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.add__cart button{
    width: 139px;
    height: 44px;
    padding: 10px;
    background: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    border-color: #FFFFFF;
}

.add__cart button img{
    width: 26px;
    height: 24px;
}

.add__cart button p {
    color: #FFF;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
}

.text_item{
    margin-left: 16px;
}

.item h4{
    color: #000;
    font-family: Lato, serif;
    font-size: 13px;
    margin-bottom: 12px;
}

.item p{
    color: #5D5D5D;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 18px;
}

.item h5{
    color: #F16D7F;
    font-family: Lato, serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn_foo{
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.butn_all_profuct{
    grid-column: 1/4;
    width: 212px;
    height: 48px;
    border-color: #F26376;
    background-color: white;
    transition: all 0.3s;
}

.butn_all_profuct:hover{
    border: none;
    background-color: #F16D7F;
}

.butn_all_profuct:hover span{
    color: #FFF;
}

.butn_all_profuct span{
    color: #F26376;
    font-family: Lato, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.3s;
}

.others {
    background-color: #222224;
    padding: 104px;
}
.others__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.others__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.others__card img{
    width: 45px;
    margin-bottom: 20px;
}

.others__card__title{
    color: #FBFBFB;
    font-family: Lato, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.others__card__p{
    color: #FBFBFB;
    text-align: center;
    font-family: Lato, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.subscribe{
    background: rgba(244, 244, 244, 0.70);
    height: 448px;
}

.subscribe__beack{
    height: 448px;
    max-width: 767vw;
    background-image: url("./img/beack_subsribe.jpg");
    background-position:center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.subscribe__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 330px;
    padding-top: 97px;
}

.subscribe__content__feedback{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    max-width: 360px;
}

.subscribe__content__feedback p{
    text-align: center;
    color: #222224;
    font-family: Lato, serif;
    font-size: 20px;
    font-weight: 400;
}

.subscribe__content__feedback .italic{
    font-style: italic;
}

.subscribe__content__subscribe__title{
    color: #222224;
    text-align: center;
    font-family: Lato, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.subscribe__content__subscribe__p{
    color: #222224;
    font-family: Lato, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
    margin-bottom: 32px;
}

.subscribe__content__subscribe form{
    display: flex;

}

.subscribe__content__subscribe input{
    width: 256px;
    height: 50px;
    padding-left: 22px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #E1E1E1;;
}

.subscribe__content__subscribe button{
    width: 100px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-family: Lato, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #F16D7F;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
}

.links{
    background-color: #222224;
    height: 79px;
}

.links__content{
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.brend{
    color: #FBFBFB;
    font-family: Lato, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.links__icons{
    display: flex;
    gap: 7px;
}

.links__content a{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px;
    width: 15px;
    height: 15px;
    background-color: #FFF;

}

.links__content a:hover{
    background-color: #F16D7F;
    transition: all 0.3s;

}
.links__content a:hover svg{
    fill: #FFFFFF
}



@media (max-width: 1146px) and (min-width: 768px){
    nav{
        gap: 25px;
    }

    .container{
        max-width: 767px;
    }

    .main_content{
        margin-bottom: 0px;
    }

    .man_main{
        width: 386px;
    }

    .title_main_text h1{
        font-size: 44px;
        font-weight: 900;
    }

    .title_main_text h2{
        font-size: 24px;
        font-weight: 700;
    }
    .color_text{
        font-size: 24px;
        font-weight: 700;
    }

    .offer{
        gap:19px;
        padding-bottom: 110px;
    }

    .offer h3{
        font-size: 24px;
    }

    .offer h4{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .card{
        width: 232px;
        height: 167px;
    }

    .accesories{
        width: 734px;
        height: 116px;
    }

    .text_items{
        gap: 3px;
    }

    .p_items{
        margin-bottom: 64px;
    }

    .items{
        grid-template-columns: 360px 360px;
        margin-bottom: 32px;
    }

    .others{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .others__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 48px;
        justify-content: center;
        align-content: center;
    }

    .others__card{
        width: 360px;
    }

    .subscribe__content{
        flex-direction: column;
        gap: 48px;
        padding-top: 20px;
    }
}

@media (max-width: 767px) {

    .container{
        max-width: 360px;
    }

    .head-human{
        display: none;
    }

    .head-shop{
        display: none;
    }

    nav p {
        display: none;
    }

    .man_main{
        display: none;
    }

    .main_content{
        height: 363px;
    }

    .main-stick{
        width: 12px;
        height: 61px;
    }

    .title_main_text h1{
        font-size: 38px;
    }

    .title_main_text h2{
        font-size: 20px;
    }

    .color_text{
        font-size: 20px;
    }

    .main_content{
        margin-bottom: 64px;
    }

    .offer{
        padding-top: 0;
        grid-template-columns: 343px;
        padding-bottom: 0;
        margin-bottom: 64px;
    }

    .card{
        width: 343px;
    }

    .accesories{
        grid-column: 1/1;
        width: 343px;
        height: 111px;
    }

    .items{
        grid-template-columns: 360px;
        margin-bottom: 40px;
    }

    .others{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .others__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 48px;
        justify-content: center;
        align-content: center;
    }

    .others__card{
        width: 360px;
    }

    .subscribe__content{
        flex-direction: column;
        gap: 48px;
        padding-top: 20px;
    }

    .subscribe__content__subscribe input {
        width: 220px;
    }

    .links{
        height: 130px;
    }

    .links__content {
        flex-direction: column-reverse;
        gap: 40px;
    }

}




















