@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;

}

img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-color: #222;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.logo{
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

nav {
    display: flex;
    gap: 45px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.main_content{
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-bottom: 60px;
}

.title_main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.title_main_text{
    color: #222;
    font-family: Lato, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.title_main_text h2{
    color: #222;
    font-family: Lato, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.color_text{
    color: #F16D7F;
    font-family: Lato, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.offer{
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    gap: 30px;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.woman{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 360px;
    font-size: 16px;
    line-height: 1.2;
    color: white;
    background-image: url("./img/offer_women.svg");
    background-color: rgba(33, 22, 22, 0.70);
}

.man{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 360px;
    background-image: url("./img/offer_men.svg");
    font-size: 16px;
    line-height: 1.2;
    color: white;
}

.kids{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 360px;
    background-image: url("./img/offer_kids.svg");
    font-size: 16px;
    line-height: 1.2;
    color: white;
}

.accesories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 1140px;
    background-image: url("./img/offer_accesories.svg");
    font-size: 16px;
    line-height: 1.2;
    color: white;
    grid-column: 1/4;
}

.offer h3{
    color: #F16D7F;
    font-family: Lato, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text_items{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 6px;

}

.title_items{
    color: #222;
    font-family: Lato, serif;
    font-size: 30px;
}

.p_items{
    color: #9F9F9F;
    font-family: Lato, serif;
    font-size: 14px;
    margin-bottom: 50px;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 48px;
}

.item{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F8F8F8;
}

.item img{
    margin-bottom: 25px;
}

.text_item{
    margin-left: 16px;
}

.item h4{
    color: #000;
    font-family: Lato, serif;
    font-size: 13px;
    margin-bottom: 12px;
}

.item p{
    color: #5D5D5D;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 18px;
}

.item h5{
    color: #F16D7F;
    font-family: Lato, serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn_foo{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.butn_all_profuct{
    grid-column: 1/4;
    width: 212px;
    height: 48px;
    border-color: #F26376;
    background-color: white;
}

.butn_all_profuct span{
    color: #F26376;
    font-family: Lato, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1146px) and (min-width: 768px){
    nav{
        gap: 25px;
    }

    .container{
        max-width: 767px;
    }

    .main_content{
        margin-bottom: 0px;
    }

    .man_main{
        width: 386px;
    }

    .title_main_text h1{
        font-size: 44px;
        font-weight: 900;
    }

    .title_main_text h2{
        font-size: 24px;
        font-weight: 700;
    }
    .color_text{
        font-size: 24px;
        font-weight: 700;
    }

    .offer{
        gap:19px;
        padding-bottom: 110px;
    }

    .offer h3{
        font-size: 24px;
    }

    .offer h4{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .card{
        width: 232px;
        height: 167px;
    }

    .accesories{
        width: 734px;
        height: 116px;
    }

    .text_items{
        gap: 3px;
    }

    .p_items{
        margin-bottom: 64px;
    }

    .items{
        grid-template-columns: 360px 360px;
        margin-bottom: 32px;
    }
}

@media (max-width: 767px) {

    .container{
        max-width: 375px;
    }

    .head-human{
        display: none;
    }

    .head-shop{
        display: none;
    }

    .man_main{
        display: none;
    }

    .main_content{
        height: 363px;
    }

    .main-stick{
        width: 12px;
        height: 61px;
    }

    .title_main_text h1{
        font-size: 38px;
    }

    .title_main_text h2{
        font-size: 20px;
    }

    .color_text{
        font-size: 20px;
    }

    .main_content{
        margin-bottom: 64px;
    }

    .offer{
        padding-top: 0;
        grid-template-columns: 1fr;
        padding-bottom: 0;
        margin-bottom: 64px;
    }

    .card{
        width: 343px;
    }

    .accesories{
        grid-column: 1/1;
        width: 343px;
        height: 111px;
    }

    .items{
        grid-template-columns: 360px;
        margin-bottom: 40px;
    }




}




















